.my-main-container {
    width: 100vw;
    height: 100vh;
}

.my-main-nav {
    width: 100%;
    height: 75px;

    background-color: #ffffff;
}

.my-container-outer {
    width: 100%;
    height: calc(100% - 75px);
}

.my-side-bar {
    width: 150px;
    height: 100%;

    background-image: url(/img/sidebar-bg.png);
    background-color: #051e34;
}

.my-container-inner {
    width: calc(100%  - 150px);
    height: 100%;

    overflow-y: auto;

    
    background-color: #f8f9fa;
}

.my-container-inner-top {
    width: 100%;
    height: 100px;


    background-color: #1b72e8;
}

.my-container-inner-left {
    width: 65%;
    height: 100%;
}

.my-container-inner-right  {
    width: 35%;
    height: 100%;
}

.color-one {
    background-color: #f7f7f7;
}

.color-two {
    background-color: #ffffff;
}

.my-img {
    width: 100%;
}

.table-img {
    width: 5%;
}